html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-Roboto);
    background-color: var(--color-first);
    color: var(--color-white);
    overflow-x: hidden;
    position: relative;
}

::-webkit-scrollbar {
    width: .5rem;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-third);   
    border-radius: .3rem;
}
